.sidebar {
  width: 30%;
}

.img-container {
  &__pic {
    width: 100%;
    border-radius: 0.5rem;
  }
}

.sidebar-info {

  margin: 0;
  padding: $gutter 0;

  &__hero-name {
    margin: 0;
    padding: $gutter 0;

    color: $brand-black;
  }

  &__year {
    margin: 0;
    padding: $gutter 0;

    color: $brand-black;
  }

  &__creators {
    margin: 0;
    padding: $gutter 0 0;

    color: $brand-black;

    border-bottom: $brand-border;
  }
}

.creators {
  padding: 0;

  &__list-items {
    padding: $gutter / 2 0;
  }
}
